[core]
  editor = vim
	autocrlf = input

[color]
	ui = True

[merge]
	tool = vimdiff

[mergetool]
	prompt = false

[push]
	default = current

[include]
	path = ~/.git-credentials

[alias]
	find = log --pretty=\"format:%Cgreen%H %Cblue%s\" --name-status --grep
	l = log --oneline --graph
  branchez = for-each-ref --sort='-authordate:iso8601' --format=' %(authordate:relative)%09%(refname:short)' refs/heads

[tag]
  sort = v:refname

[credential]
	helper = cache --timeout=36000
[user]
	name = Ilya Yurtaev
	email = ilya.yurtaev@gmail.com

[help]
	autocorrect = 1

[http]
	postBuffer = 524288000
